main h2{
    margin-top: 100px;
}
main a img{
    background-color: white;
}
#name{
    color: blueviolet;
}
.first-container{
    margin-left: 50px;
}
.second-container{
    width: 50%;
    margin: 0 auto;
    text-align: center;
    margin-top: 100px;
}
.second-container img{
    margin-top: 10px;
    width: 30px;
    margin-left: 10px;
    margin-bottom: 60px;
}
.highlight{
    color: rgb(190, 139, 238);
}